.type {
  padding: 5px;
  border-radius: 10px;
  margin: 2px;
  display: inline-block;
  font-weight: bold;
  font-size: small;
  background-color: #F9DF23;
  position: relative; /* Add position relative to contain the icon */
}
  .normal {
    background-color: #A8A77A;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    margin-top: 4px;
    padding: 0 7px;
    border: 1px solid #ffffff;
  }
  
  .fighting {
    background-color: #C22E28;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    margin-top: 4px;
    padding: 0 7px;
    border: 1px solid #ffffff;
    }
  
  .flying {
    background-color: #A98FF3;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .poison {
    background-color: #A33EA1;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .ground {
    background-color: #E2BF65;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .rock {
    background-color: #B6A136;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .bug {
    background-color: #A6B91A;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .ghost {
    background-color: #735797;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .steel {
    background-color: #B7B7CE;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .fire {
    background-color: #EE8130;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .water {
    background-color: #6390F0;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .grass {
    background-color: #7AC74C;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .electric {
    background-color: #F7D02C;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .psychic {
    background-color: #F95587;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .ice {
    background-color: #96D9D6;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .dragon {
    background-color: #6F35FC;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .dark {
    background-color: #705746;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .fairy {
    background-color: #D685AD;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .unknown {
    background-color: #B7B7CE;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
  
  .shadow {
    background-color: #292929;
    color: white;
    border-radius: 33px;
    margin-left: 10px;
    padding: 0 7px;
    margin-top: 4px;
    border: 1px solid #ffffff;
  }
