.custombutton {
  background-color: #e41111;
  color: #282828;
  padding: 10px 20px;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.custombutton:hover {
  background-color: #ff0000; /* Change the background color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Add a stronger shadow on hover */
}

