.navBar {
  background-color: #FF3855;
  padding: 0.5rem;
  max-width: 100%;
}

.maxWidth {
  max-width: 40rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70%;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.h1 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.button {
  background-color: white;
  color: #FF3855;
  padding: 0.6rem 1rem; /* Increased padding for a larger hover area */
  border-radius: 0.5rem;
  border-color: rgb(146, 146, 146);
  font-weight: bold;
  margin-left: 30px;
  transition: background-color 0.2s; /* Smooth transition on hover */
}
.sbutton {
  background-color: white;
  color: #FF3855;
  padding: 0.6rem 1rem; /* Increased padding for a larger hover area */
  border-radius: 0.5rem;
  border-color: rgb(146, 146, 146);
  font-weight: bold;
  font-size: x-small;
  margin-left: 30px;
  transition: background-color 0.2s; /* Smooth transition on hover */
}

.button:hover {
  background-color: #FF3855; /* Change background color on hover */
  color: white; /* Change text color on hover */
}

.button:last-child {
  margin-right: 0;
}
.searchBar {
  display: flex;
  padding: 0.6rem 1rem;
}

.searchInput {
  flex: 1;
  padding: 0.6rem 1rem;
  border: none;
  border-radius:5px;
  width: auto;
  height: auto;
}

.searchButton {
  background-color: #FF3855;
  color: white;
  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.6rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 5px;
}

.searchButton:hover {
  background-color: #ff1a41;
}

.buttoncontainer{
  display: flex;
  height: 39px;
  margin-left: 30%;
  align-items: center;
}
